@model proje.Models.Roller

@{
    ViewBag.Title = "Details";
}

<h2>Detay</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rolStatu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rolStatu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rolAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rolAciklama)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.rolId }) |
    @Html.ActionLink("Geri dön", "Index")
</p>
