@model IEnumerable<proje.Models.Roller>

@{
    ViewBag.Title = "Index";
}

<h2>Roller</h2>

<p>
    @Html.ActionLink("Yeni Rol Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rolStatu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rolAciklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rolStatu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rolAciklama)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.rolId }) |
            @Html.ActionLink("Detay", "Details", new { id=item.rolId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.rolId })
        </td>
    </tr>
}

</table>
